
body {
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
  
}

h1 {
    
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    margin: 50px auto 0 auto;
 
}
h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 10px;
}
h3 {
   
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
}   


.top-container {
 
    background-color: #e4f9f5;
    padding-top: 100px;
    position: relative;
    

}

.mid-container {
 
    background-color: #f9f5e4;

}

.bottom-container {

    background-color: #e4f9f5;
    color: #11999E;
    
}

.topcloud {
    position: absolute;
    right:300px;
    top: 50px;

}
.bottomcloud {
    position: absolute;
    left:300px;
    bottom: 300px;
    
}
.profile {
    margin-top: 20px;
}

.pro {
        text-decoration: underline ;        
  
}

.skkil-row{
    width: 50%;
}
